@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Noto+Sans+SC:wght@300;400;500;700;900&display=swap');

/*
font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
font-family: 'Noto Sans JP', 'Noto Sans SC', sans-serif;
*/


/* ------------------------------------------------------
RESET
------------------------------------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

body {
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    min-height: 100vh;
}

details,
menu,
figcaption,
figure,
main,
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

canvas,
audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

[hidden],
template {
    display: none;
}

table {
    font: inherit;
    font-size: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}


/* ------------------------------------------------------
GENERAL
------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
    font-size: 16px;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0 0 1.5em;
}

a {
    text-decoration: none;
    color: #4D4D4D;
}

.section {
    padding: 0 0 50px 0;
}

.section .section {
    padding: 0 0 25px;
}

.image_l {
    float: left;
    margin: 0 20px 10px 0;
}

.image_r {
    float: right;
    margin: 0 0 10px 20px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clearfix {
    display: inline-block;
}


/* Hides from IE-mac */

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* ------------------------------------------------------
Container
------------------------------------------------------ */

html {
    background: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1;
}

body {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
    color: #222222;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#home h3 {
    color: #7E7E7E;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 95px;
}

section {
    padding: 120px 0 0;
}


/* ------------------------------------------------------
Header
------------------------------------------------------ */

#header {
    position: fixed;
    mix-blend-mode: color-dodge;
    z-index: 10;
    top: 30px;
    right: 0;
    width: 38%;
}

#header .menu {
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#header .menu li a {
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #7E7E7E;
    font-weight: 700;
    cursor: pointer;
}

#toggle-menu {
    display: none;
}


/* ------------------------------------------------------
Contents
------------------------------------------------------ */
#top_info {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
}

#top_info .mainvisual {
    width: 62%;
    height: 100%;
    overflow: hidden;
}

#top_info .mainvisual .slide {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#top_info .mainvisual .set01 {
    background-image: url(../images/main-img1.jpg);
}

#top_info .mainvisual .set02 {
    background-image: url(../images/main-img2.jpg);
}

#top_info .mainvisual .set03 {
    background-image: url(../images/main-img3.jpg);
}

#top_info .mainvisual .set04 {
    background-image: url(../images/main-img4.jpg);
}

#top_info .mainvisual .slide.moving {
    animation: zoom_animation 13s linear infinite;
}

@keyframes zoom_animation {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.1);
    }
}

#top_info .top_cont {
    width: 38%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top_info h2 {
    font-size: 3.5vw;
    letter-spacing: 0.3em;
}

#box_message .m-txt {
    font-size: 22px;
    line-height: 2.6;
    font-weight: 700;
    text-align: justify;
    margin: 0;
}

#box_message .m-quote {
    font-size: 32px;
    font-weight: 700;
    line-height: 2.6;
    text-align: justify;
    margin: 0;
}

#box_service .ser-cont {
    display: flex;
}

#box_service .ser-photo {
    width: 50%;
    flex-shrink: 0;
}

#box_service .ser-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box_service .ser-frame {
    width: 50%;
    padding: 0 3% 0 80px;
}

#box_service .ser-txt {
    max-width: 500px;
    font-size: 16px;
    line-height: 2.4;
    font-weight: 700;
    margin: 0 0 60px;
}

#box_service .c-btn1 a {
    max-width: 330px;
    display: flex;
    justify-content: space-between;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}

#box_service .c-btn1 a .txt1 {
    display: flex;
    position: relative;
    width: 245px;
    padding: 10px 0 0;
    transition: 0.35s ease;
}

#box_service .c-btn1 .txt1::before,
#box_service .c-btn1 .txt1::after {
    content: "";
    position: absolute;
    background: #222222;
}

#box_service .c-btn1 .txt1::before {
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
}

#box_service .c-btn1 .txt1::after {
    width: 2px;
    height: 20px;
    top: 16px;
    right: 0;
    transform: rotate(-50deg);
    transform-origin: bottom left;
}

#box_service .c-btn1 a .txt2 {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #222222;
    border-radius: 50%;
    font-size: 16px;
    transition: all 0.3s ease;
}

#box_service .c-btn1 a:hover .txt1 {
    width: 250px;
}

#box_service .c-btn1 a:hover .txt2 {
    color: #fff;
    background: #7E7E7E;
}

#box_business .b-cont {
    display: flex;
    flex-wrap: wrap;
}

#box_business dl {
    width: 50%;
    height: 50vh;
    position: relative;
}

#box_business dl dt {
    height: 100%;
}

#box_business dl dt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#box_business dl dt::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#box_business dl dd {
    width: 90%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box_business .b-ttl {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

#box_business .b-txt {
    color: #fff;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    margin: 20px 0 0;
}

#box_news .n-cont li {
    margin-bottom: 50px;
}

#box_news .n-cont li:last-child {
    margin: 0;
}

#box_news .n-ttl {
    border-bottom: 2px solid #222222;
    padding: 0 0 5px;
}

#box_news .n-ttl a {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}

#box_news .n-date {
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    margin: 10px 0 0;
    padding-right: 10px;
}

#box_news .btn-readmore {
    text-align: center;
    margin: 60px 0 0;
}

#box_news .btn-readmore a {
    color: #222222;
    font-family: 'Noto Sans JP', 'Noto Sans SC', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    position: relative;
}

#box_news .btn-readmore a::before,
#box_news .btn-readmore a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #222222;
    top: 100%;
    left: 0;
    pointer-events: none;
}

#box_news .btn-readmore a::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    height: 3px;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

#box_news .btn-readmore a::after {
    top: calc(100% + 5px);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}

#box_company .inner {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

#box_company .inner dl {
    width: 100%;
    max-width: 525px;
    height: 525px;
    position: relative;
}

#box_company dt {
    width: 100%;
    height: 100%;
}

#box_company dt::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#box_company dt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box_company dd {
    position: absolute;
    z-index: 9;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#box_company dd a {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#box_company dd .c-txt {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
}

#box_company dd .c-txt span {
    display: inline-block;
    margin: 0 15px 0;
}

#footer {
    margin: 170px 0 0;
}

#footer .inner {
    max-width: 1400px;
}

#footer .f-cont {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#footer .f-frame1 {
    width: 78%;
}

#footer .f-frame1 .f-link {
    display: flex;
    justify-content: space-between;
}

#footer .f-frame1 .f-link ul {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

#footer .f-frame1 .f-link a {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
}

#footer .f-info {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0;
}

#footer .f-info li {
    width: 32%;
}

#footer .f-info .f-txt {
    font-size: 15px;
    line-height: 2.2;
    margin: 0;
}

#footer .f-social {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

#footer .f-social li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0;
}

#footer .f-social li a {
    display: block;
}

#footer address {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    margin: 20px 0 0;
}


/* ------------------------------------------------------
Footer
------------------------------------------------------ */

footer .logo {
    width: 6.250vw;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9;
}

footer .logo img {
    width: 100%;
}


/*----------------------
loading
-----------------------*/

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    pointer-events: none;
}

#loading.loading-hide {
    animation: loadinghide 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

#loading .half-circle-spinner,
#loading .half-circle-spinner * {
    box-sizing: border-box;
}

#loading .half-circle-spinner {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading .half-circle-spinner .circle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: calc(60px / 10) solid transparent;
}

#loading .half-circle-spinner .circle.circle-1 {
    border-top-color: #7e7e7e;
    animation: half-circle-spinner-animation 1s infinite;
}

#loading .half-circle-spinner .circle.circle-2 {
    border-bottom-color: #7e7e7e;
    animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes loadinghide {
    0% {
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes half-circle-spinner-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* MOZZILLA CSS */

@-moz-document url-prefix() {}


/* IE CSS */

@media screen\0 {}


/* EDGE 12+ CSS */

@supports (-ms-ime-align:auto) {}
